.calc-container {
  margin: 100px auto 100px;
  width: 300px;
  background-color: grey;
  padding: 20px;
}

.text-container {
  background-color: white;
  padding: 5px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.buttons-container {

}

.button {
  width: 67.5px;
  margin-left: 10px;
  height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}

.button:nth-child(4n + 1) {
  margin-left: 0;
}
